a:link, a:visited, a:hover, a:active {
    color: rgb(59, 59, 59);  /* 20% of 20% gray */
}

body {
    background-color: rgb(123, 123, 123);  /* 20% gray */
    color: rgb(255, 255, 255);
    font-family: "SF UI Text", "Lucida Grande", Helvetica, Arial, sans-serif;
    line-height: 1.15;
}

#content {
    margin: 16px;
}

input[type="number"] {
    width: 4em;
}

input[type="radio"], input[type="text"] {
    margin-top: 4px;
    margin-bottom: 4px;
}

td {
    text-align: right;
}

td.demo {
    padding: 4px 24px;
}

textarea {
    font-family: SF Mono, Consolas, monospace;
    font-size: 80%;
    line-height: 1.4;
}
