a:link, a:visited, a:hover, a:active {
    color: rgb(186, 186, 186);  /* 50% gray */
}

body {
    background-color: rgb(123, 123, 123);  /* 20% gray */
    color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    line-height: 1.2;
}

#content { margin: 16px; }

input[type="number"] { width: 4em; }

input[type="radio"], input[type="text"] {
    margin-top: 4px;
    margin-bottom: 4px;
}

input[type="submit"] { padding: 3.5px 7px; }

table.result td { text-align: center; }

table.rjust td { text-align: right; }

td.demo {
    font-weight: 500;
    padding: 4px 24px;
}

textarea {
    font-family: "SF Mono", Menlo, Consolas, monospace;
    font-size: 80%;
    line-height: 1.4;
}
