{% extends "base.html" %}

{% block title %}Color scheme translation{% endblock %}

{% block content %}
    <h1>Color scheme translation</h1>
    <form action="result" method="post">
        Enter a list of CSS hex or RGB colors:<br>
        <textarea name="colors" cols="20" rows="5"></textarea><br>
        <input type="radio" name="direction" value="to_dark" checked>Light to dark
        <input type="radio" name="direction" value="to_light">Dark to light<br>
        <br>
        <table class="rjust">
            <tr>
                <td>Scale output lightness by:
                <td><input type="number" step="0.01" name="J_factor" value="1">
            <tr>
                <td>Scale output chroma by:
                <td><input type="number" step="0.01" name="C_factor" value="1">
            </table>
            <br>
            <input type="submit" value="Submit">
    </form>
    <br><br>
    <a href="https://github.com/crowsonkb/color_schemer">View on GitHub</a><br>
    <a href="http://paypal.me/KatherineCrowson">Donate money to Katherine Crowson</a>
{% endblock %}
